.SearchBtn {
    background-color: var(--color-deep-space-blue);
    width: fit-content;
    
    display: flex;
    flex: row;
    padding: 0 1em;

    cursor: pointer;
}

.Text {
    padding: 0 1em;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
}