.MainDocPreview {
    background-color: white;
    border-radius: 10px 10px 0 0;
    width:  fit-content;
    height: fit-content;
    box-shadow: var(--card-box-shadow-right);
    flex-grow: 1;
    margin: 1rem 1rem 0;
}

.ContentDiv {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.BtnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.IconFrame {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        width: 60%;
    }
}


.Infos {
    display: flex;
    flex-direction: row;
}

.InfosTxt {
    margin-left: 1em;
    font-family: var(--font-primary);
}

.HrDiv {
    border-width: 2px;
    border-style: dashed;
    border-color: var(--color-white-blue-l);
    margin: 0 1em;
}

hr {
    margin: 0;
}

.Plabel {
    font-family: var(--font-primary);
}