/*
  Paleta base de cores:
  https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500

  Fontes:
  https://fonts.google.com/specimen/Gelasio
  https://fonts.google.com/specimen/Google+Sans+Flex
*/
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  --color-white-blue-l: #F0F4F8;
  --color-sky-blue-l: #8ECAE6;
  --color-blue-green: #219EBC;
  --color-deep-space-blue: #023047;
  --color-amber-flame: #FFB703;
  --color-tiger-orange: #FB8500;

  --card-box-shadow-bottom: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --card-box-shadow-upper: rgba(0, 0, 0, 0.15) 1.950px -1.95px 2.6px;
  --card-box-shadow-right: rgba(0, 0, 0, 0.15) 1.950px 0px 1px;

  --font-primary: 'Google Sans Flex';
  --font-secondary: 'Gelasio';

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

body {
  margin: 0;
  background-color: var(--color-white-blue-l);
}
